body {
/*	font-size: 150%;*/
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}
#board {
	background-color: #fff;
	padding: 0.5em;
	margin: 0.5em;
	position: absolute;
	width: 100%;
	width: calc(100% - 2em);
}
h1 {
	font-size: 1.5em;
	letter-spacing: -1px;
}
p {
	font-weight: 200;
}
.card {
	width: 12em;
	height: 19em;
	float: left;
	margin: .5em;
	border: 1em solid #ccc;
	border-radius: 1em;
	background-color: #fff;
}
.cardinterior {
	margin: .5em;
}
[data-type="1"] {
	background-color: #faa;
}
[data-type="2"] {
	background-color: #ffa;
}
.over {
	box-shadow: 0 0 5px #000 inset;
}
